@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #1C1B22;
  width: 100%;
  left: 0;
  right: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* или с небольшой прозрачностью */
::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.2);
}